In [2]:
import pandas as pd
import urllib, json
print('Done importing.')

Done importing.

In [ ]:
url = 'https://data.tampere.fi/data/api/action/datastore_search?resource_id=3b76ce4c-afe2-400b-87b8-7fdec2d3f537&limit=55000'
with urllib.request.urlopen(url) as url:
    j_obj = url.read()
parsed = json.loads(j_obj)
if not parsed['success']:
    df = pd.read_csv('./data/data.csv')
    print('Using local data.')
else:
    df = pd.DataFrame(parsed['result']['records'])
    print('Using API data.')

### asdasd

In [11]:
df.describe()

,_id,KC_KIITUNN,KC_RAKNRO,I_PYRAKNRO,I_KERROSALA,I_KERRLKM,I_RAKTILAV,HUONEISTOJA_KPL
count,53275.000000,5.327500e+04,51098.000000,53275.000000,31931.000000,32534.000000,22325.000000,24372.000000
mean,26638.000000,3.068093e+10,5.721770,39568.258489,566.841439,1.699975,2841.103695,5.792631
std,15379.312132,2.541682e+10,23.271388,35167.502549,2063.575590,1.308128,13572.875307,13.521334
min,1.000000,1.480100e+08,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,13319.500000,6.571645e+09,1.000000,15447.500000,95.000000,1.000000,270.000000,1.000000
50%,26638.000000,2.333017e+10,2.000000,30707.000000,166.000000,1.000000,620.000000,1.000000
75%,39956.500000,5.840003e+10,3.000000,45968.500000,306.000000,2.000000,1250.000000,4.000000
max,53275.000000,9.020904e+10,403.000000,128010.000000,203698.000000,25.000000,992195.000000,528.000000

In [13]:
df2.describe()

,_id,KC_KIITUNN,KC_RAKNRO,I_PYRAKNRO,I_KERROSALA,I_KERRLKM,I_RAKTILAV,HUONEISTOJA_KPL
count,53275.000000,5.327500e+04,51098.000000,53275.000000,31931.000000,32534.000000,22325.000000,24372.000000
mean,26638.000000,3.068093e+10,5.721770,39568.258489,566.841439,1.699975,2841.103695,5.792631
std,15379.312132,2.541682e+10,23.271388,35167.502549,2063.575590,1.308128,13572.875307,13.521334
min,1.000000,1.480100e+08,0.000000,1.000000,0.000000,0.000000,0.000000,1.000000
25%,13319.500000,6.571645e+09,1.000000,15447.500000,95.000000,1.000000,270.000000,1.000000
50%,26638.000000,2.333017e+10,2.000000,30707.000000,166.000000,1.000000,620.000000,1.000000
75%,39956.500000,5.840003e+10,3.000000,45968.500000,306.000000,2.000000,1250.000000,4.000000
max,53275.000000,9.020904e+10,403.000000,128010.000000,203698.000000,25.000000,992195.000000,528.000000